
/* font-family: Poppins */
@font-face{
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

/* font-family: Playfair */
@font-face{
    font-family: Playfair;
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}

/* font-family: Abel */
@font-face{
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/* font-family: Abril FatFace */
@font-face{
    font-family: Abril;
    src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}

/* font-family: Sansita*/
@font-face{
    font-family: Sansita;
    src: url('../fonts/Sansita/Sansita-Regular.ttf');
}

/* font-family: Dosis */
@font-face{
    font-family: Dosis;
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf');
}
